<template name="createProject">
    <!--{{> navigation}}-->
    <section class="main-content-wrapper">

        <div class="pageheader">
            <ul class="nav navbar-nav navbar-left">
                <li class="toggle-navigation toggle-left">
                    <button class="sidebar-toggle" id="toggle-left">
                        <i class="fa fa-bars"></i>
                    </button>
                </li>
            </ul>
        </div>

        <!--<div class="col-lg-4 col-md-3 col-xs-1"></div>-->
        <!--<div class="col-lg-4 col-md-6 col-xs-10">-->

        <!--</div>-->
        <!--<div class="col-lg-4 col-md-3 col-xs-1"></div>-->


        <section id="main-content" class="main-content pad-60">
            {{#autoForm collection="CorpOrg" id="updateCompanyForm" doc=updateCompanyDoc type="update"}}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-7 col-md-offset-2 col-xs-12">

                            {{#autoForm collection="Projects" id="insertProjectsForm" type="insert"}}
                                <fieldset>
                                    <legend>Add a Project</legend>
                                    {{> afQuickField name='projectName'}}
                                    {{> afQuickField name='scope' row=3}}
                                    {{> afQuickField name='areaOfExecution'}}
                                    {{> afQuickField name='budget'}}
                                    {{> afQuickField name='timeLine' }}
                                    {{> afQuickField name='endGoal'}}
                                    {{> afQuickField name='influencer'}}
                                    {{> afQuickField name='status'}}
                                    {{> afQuickField name='projectBio' rows=5 }}
                                    {{> afQuickField name='targetAudience'}}

                                    <h4>Add your company logo</h4>
                                    {{> afQuickField name="picture" }}
                                </fieldset>
                                <button type="submit" id="insertProject" class="btn btn-primary">Insert</button>
                            {{/autoForm}}

                        </div>

                    </div>
                </div>
            {{/autoForm}}
        </section>
</section>
</template>
