<template name="projectList">
<!-- {{#each listOfProjects}}
    {{projectName}}<br/>
    {{scope}}<br/>
    {{areaOfExecution}}<br/>
    {{budget}}<br/>
    {{timeLine}}<br/>
    {{endGoal}}<br/>
    {{influencer}}<br/>
    {{status}}<br/>
    {{projectBio}}<br/>
    {{targetAudience}}<br/>

    {{#with FS.GetFile 'images' picture}}
        <img class="" src="{{this.url}}" alt="" >

    {{/with}} -->
   <!--  <a href="{{pathFor 'updateProject'}}" id="updateProject">Update Project</a>
    {{> quickRemoveButton collection="Projects" _id=this._id}} -->

<!-- {{/each}} -->
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="urgent-causes">
            {{#each listOfProjects}}
                <div class="col-sm-4 col-xs-12 children draught isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            {{#with FS.GetFile 'images' picture}}
                                <img class="" src="{{this.url}}" alt="" >
                            {{/with}}
                            <figcaption>
                                <a href="causes-style-1.html#" class="btn btn-causes">View details</a>
                                <h2>{{projectName}}</h2>
                            </figcaption>
                        </figure>
                    </div>
                </div> 
            {{/each}}
            </div>
        </div>
    </div>
</div>
</template>
