<template name="projectDetails">
        <section class="main-content-wrapper">

        <div class="pageheader">
            <ul class="nav navbar-nav navbar-left">
                <li class="toggle-navigation toggle-left">
                    <button class="sidebar-toggle" id="toggle-left">
                        <i class="fa fa-bars"></i>
                    </button>
                </li>
            </ul>
            
        </div>

        <section id="main-content" class="main-content pad-60" style="margin-top:20px;">
            <div class="container">
                {{#with projectDetail}}
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="article">
                            <h3>Welcome to {{projectName}}</h3>
                            <h4>This Project will last for {{timeLine}}</h4>
                            <p class="text-justify">{{projectBio}}</p>
                            <p class="text-justify">{{budget}}
                            {{budget}} {{endGoal}} {{status}}
                            {{targetAudience}}
                            </p>
                        </div> <!--/.article-->
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div id="about-slider" class="about-slider">
                            <div class="item">
                            {{#with FS.GetFile 'images' picture}}
                                <img src="{{this.url}}" alt="slider1" height="260" width="500">
                            {{/with}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/with}}
{{#if ownerOfProject}}
                <button type="submit" class="btn btn-primary createBid" data-toggle="modal" data-target="#createBidForm">Bid for Project</button>
{{/if}}
            </div>
</section>
</section>

</template>
