<template name="projectDetails">
    <!-- <h2>Project Details</h2>
    {{#with projectDetail}}
        {{projectName}}<br/>
        {{scope}}<br/>
        {{areaOfExecution}}<br/>
        {{budget}}<br/>
        {{timeLine}}<br/>
        {{endGoal}}<br/>
        {{influencer}}<br/>
        {{status}}<br/>
        {{projectBio}}<br/>
        {{targetAudience}}<br/>
        {{#with FS.GetFile 'images' picture}}
            <img class="" src="{{this.url}}" alt="" >

        {{/with}}
    {{/with}} -->
        <!--<a href="{{pathFor 'updateProject'}}" id="updateProject" class="btn btn-primary" type="submit">Update Project</a>-->
        <!--<a href="#" type="submit" class="btn btn-primary">view more</a>-->
        <!--{{> quickRemoveButton collection="Projects" _id=this._id onError=onError onSuccess=onSuccess beforeRemove=beforeRemove class="btn btn-danger"}}-->

        <section id="main-content" class="main-content pad-60">
            <div class="container">
                {{#with projectDetail}}
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="article">
                            <h3>Welcome to {{projectName}}</h3>
                            <h4>This Project will last for {{timeLine}}</h4>
                            <p class="text-justify">{{projectBio}}</p>
                            <p class="text-justify">{{budget}}
                            {{budget}} {{endGoal}} {{status}}
                            {{targetAudience}}
                            </p>
                        </div> <!--/.article-->
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div id="about-slider" class="about-slider">
                            <div class="item">
                            {{#with FS.GetFile 'images' picture}}
                                <img src="{{this.url}}" alt="slider1" height="260" width="500">
                            {{/with}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/with}}
{{#if ownerOfProject}}
                <button type="submit" class="btn btn-primary createBid" data-toggle="modal" data-target="#createBidForm">Bid for Project</button>
{{/if}}
            </div>
</section>

</template>
