<template name="createNgoProfile">
<!-- PLEASE DONT DELETE -->
    <!--    <div class="col-lg-4 col-md-3 col-xs-1"></div>
       <div class="col-lg-4 col-md-6 col-xs-10">
           {{#autoForm collection="Ngo" id="insertNgoForm" type="insert"}}
               <fieldset>
                   <legend>Insert NGO profile</legend>
                   {{> afQuickField name='companyName'}}
                   {{> afQuickField name='focus' options="allowed" noselect=true}}
                   {{> afQuickField name='yearOfEstablishment'}}
                   {{> afQuickField name='mission' rows=6}}
                   {{> afQuickField name='vision' rows=6}}
                   {{> afQuickField name='contact'}}
                   {{> afQuickField name='founder'}}
                   {{> afQuickField name='contactPerson'}}
                   {{> afQuickField name='address'}}
                   {{> afQuickField name='RegistrationNo'}}
                   {{> afQuickField name='bio' rows=6}}
                   {{> afQuickField name='achievements'}}
                   {{> afQuickField name='targetAudience'}}
                   {{> afQuickField name='accreditation'}}
                   <h4>Add your company logo</h4>
                   {{> afQuickField name="picture" }}
               </fieldset>
               <button type="submit" class="btn btn-primary">Insert</button>
           {{/autoForm}}
       </div>

       <div class="col-lg-4 col-md-3 col-xs-1"></div> -->

<div class="container" style="margin-top:40px">
 {{#autoForm collection="Ngo" id="insertNgoForm" type="insert"}}
<div class="stepwizard">
   <div class="stepwizard-row setup-panel">
       <div class="stepwizard-step">
           <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
           <p>Step 1</p>
       </div>
       <div class="stepwizard-step">
           <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
           <p>Step 2</p>
       </div>
       <div class="stepwizard-step">
           <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
           <p>Step 3</p>
       </div>
   </div>
</div>
<form role="form">

    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-8 col-md-offset-2">
                <h3> Step 1</h3>
                <div class="form-group">
                    <h4>Add your company logo</h4>
                    {{> afQuickField name="picture" }}
                    {{> afQuickField name='companyName'}}
                    {{> afQuickField name='focus'  row=3}}
                    {{> afQuickField name='yearOfEstablishment' type="bootstrap-datepicker" buttonClasses="glyphicon glyphicon-calendar"}}
                    {{> afQuickField name='mission' rows=6}}
                    {{> afQuickField name='vision' rows=6}}
                    {{> afQuickField name='contact'}}
                    {{> afQuickField name='founder'}}
                </div>
            </div>
        </div>
    </div>


</form>
     <button type="submit" class="btn btn-primary">Save</button>
 {{/autoForm}}
</div>

</template>

<template name="ngoProfile2">
   <div class="container" style="margin-top:40px">
       {{#autoForm collection="Ngo" id="insertNgoForm2" doc=updateNgoProfileDoc type="update"}}
           <div class="stepwizard">
               <div class="stepwizard-row setup-panel">
                   <div class="stepwizard-step">
                       <a href="#step-1" type="button" class="btn btn-primary btn-circle step1btn">1</a>
                       <p>Step 1</p>
                   </div>
                   <div class="stepwizard-step">
                       <a href="#" type="button" class="btn btn-default btn-circle step2btn" enabled="enabled">2</a>
                       <p>Step 2</p>
                   </div>
                   <div class="stepwizard-step">
                       <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                       <p>Step 3</p>
                   </div>
               </div>
           </div>
           <form role="form">
               <div class="row setup-content" id="step-2">
                   <div class="col-xs-12">
                       <div class="col-md-8 col-md-offset-2">
                           <h3> Step 2</h3>
                           <div class="form-group">
                               {{> afQuickField name='address'}}
                               {{> afQuickField name='contactPerson'}}
                               {{> afQuickField name='RegistrationNo'}}
                               {{> afQuickField name='bio' rows=6}}
                               {{> afQuickField name='achievements'}}
                               {{> afQuickField name='targetAudience'}}
                               {{> afQuickField name='accreditation'}}

                           </div>
                           <!--<button class="btn btn-primary nextBtn btn-lg pull-right " type="button" >Next</button>-->
                       </div>
                   </div>
               </div>
           </form>
           <button type="submit" class="btn btn-primary">Save</button>
       {{/autoForm}}
   </div>
</template>

<template name="ngoProfile3">
   <div class="container" style="margin-top:40px">
           <div class="stepwizard">
               <div class="stepwizard-row setup-panel">
                   <div class="stepwizard-step">
                       <a href="#step-1" type="button" class="btn btn-primary btn-circle step1btn">1</a>
                       <p>Step 1</p>
                   </div>
                   <div class="stepwizard-step">
                       <a href="#" type="button" class="btn btn-default btn-circle step2btn" enabled="enabled">2</a>
                       <p>Step 2</p>
                   </div>
                   <div class="stepwizard-step">
                       <a href="#step-3" type="button" class="btn btn-default btn-circle " disabled="disabled">3</a>
                       <p>Step 3</p>
                   </div>
               </div>
           </div>
           <!-- <form role="form">

               <div class="row setup-content " id="step-3">
               <div class="col-xs-12">
               <div class="col-md-12">
               <h3> Step 3</h3>
               <h3>Please verify your information before saving</h3>
                   {{#with myNGOProfile}}
                   <h4 style="text-align:center">
                      NGO NAME :&nbsp;<strong>{{companyName}}</strong><br>
                       FOCUS :&nbsp;<strong>{{focus}}</strong> <br/>
                       DATE OF ESTABLISHMENT :&nbsp;<strong>{{formatDate yearOfEstablishment}}</strong><br/>
                       {{mission}}<br/>
                       {{vision}}<br/>
                       {{contact}}<br/>
                       {{founder}}<br/>
                       {{contactPerson}}<br/>
                       {{address}}<br/>
                       {{RegistrationNo}}<br/>
                       {{bio}}<br/>
                       {{achievements}}<br/>
                       {{targetAudience}}<br/>
                       {{accreditation}}<br/>
                   </h4>
                       <a href="{{pathFor 'updateNgoProfile'}}" class="updateNgoProfile btn btn-primary">Update Profile</a>
                   {{/with}}
               </div>
               </div>
               </div>
           </form>
           <button type="submit" class="btn btn-primary">Jump to Dashboard</button> -->
           <div class="container">
            <div class="row">
              <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

              </div>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-8 col-lg-offset-2 toppad" >
               
                
               
                <div class="panel panel-info">

                  <div class="panel-heading">

                    <h3 class="panel-title">Please verify your information before saving</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3 col-lg-3 " align="center"> 
                        {{#with FS.GetFile 'images' picture}}
                        <img class="" src="{{this.url}}" alt="" height="260" width="500">
                        {{/with}} 
                      </div>

                      <div class=" col-md-9 col-lg-9 "> 
                        {{#with myNGOProfile}}
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td>NGO NAME</td>
                              <td>{{companyName}}</td>
                            </tr>
                            <tr>
                              <td>FOUNDER</td>
                              <td>{{founder}}</td>
                            </tr>
                            <tr>
                              <td>FOCUS:</td>
                              <td>{{focus}}</td>
                            </tr>
                            <tr>
                              <td>DATE OF ESTABLISHMENT</td>
                              <td>{{formatDate yearOfEstablishment}}</td>
                            </tr>
                            <tr>
                              <td>MISSION</td>
                              <td>{{mission}}</td>
                            </tr>
                            <tr>
                              <td>VISION</td>
                              <td>{{vision}}</td>
                            </tr>
                            <tr>
                              <td>CONTACT</td>
                              <td>{{contact}}</td>
                            </tr>
                            <tr>
                              <td>CONTACT PERSON</td>
                              <td>{{contactPerson}}</td>
                            </tr>
                            <tr>
                              <td>ADDRESS</td>
                              <td>{{address}}</td>
                            </tr>
                            <tr>
                              <td>REGISTRATION NUMBER</td>
                              <td>{{RegistrationNo}}</td>
                            </tr>
                            <tr>
                              <td>BIO</td>
                              <td>{{bio}}</td>
                            </tr>
                            <tr>
                              <td>ACHIEVEMENTS</td>
                              <td>{{achievements}}</td>
                            </tr>
                            <tr>
                              <td>TARGET AUDIENCE</td>
                              <td>{{targetAudience}}</td>
                            </tr>
                            <tr>
                              <td>ACCREDITATION</td>
                              <td>{{accreditation}}</td>
                            </tr>
                            
                          </tbody>
                        </table>
                        {{/with}}
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <a href="{{pathFor 'updateNgoProfile'}}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i>Update Info</a>
                    <span class="pull-right">
                      
                     <!--  <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicons-left-right"></i>Go to Dashboard</a> -->
                     <button type="submit" class="btn btn-primary">Jump to Dashboard</button>
                   </span>
                 </div>
               </div>
               
             </div>
           </div>
         </div>


   </div>
</template>
