<template name="showNGOProfile">
<!-- {{#with myNGOProfile}}
    <h3>
    {{companyName}}<br/>
    {{focus}} <br/>
    {{yearOfEstablishment}}<br/>
    {{mission}}<br/>
    {{vision}}<br/>
    {{contact}}<br/>
    {{founder}}<br/>
    {{contactPerson}}<br/>
    {{address}}<br/>
    {{RegistrationNo}}<br/>
    {{bio}}<br/>
    {{achievements}}<br/>
    {{targetAudience}}<br/>
    {{accreditation}}<br/>
        {{#with FS.GetFile 'images' picture}}
            <img class="" src="{{this.url}}" alt="" >

        {{/with}}
    </h3>
    <a href="{{pathFor 'updateNgoProfile'}}" class="updateNgoProfile">Update Profile</a>
    <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" id="deleteNgoAccount"><i class="glyphicon glyphicon-remove"></i></a>
{{/with}} -->

<div class="container">
{{#with myNGOProfile}}
        <section style="padding-bottom: 50px; padding-top: 50px;">
            <div class="row">
                <div class="col-md-4">
                    {{#with FS.GetFile 'images' picture}}
                        <img src="{{this.url}}" alt="" class="img-rounded img-responsive">
                    {{/with}}
                    <br />
                    <br />
                    <label><p>{{companyName}}</p></label><br/>
                    <label>Focus: <p><li>{{focus}}</li></p></label><br>
                    <!-- <input type="text" class="form-control" placeholder="Jhon Deo"> -->
                    <label>Year Of Establishment:<p> &nbsp; {{yearOfEstablishment}}</p></label><br/>
                    <label>Contact:<p> &nbsp; {{contact}}</p></label><br/>
                    <label>Founder:<p> &nbsp; {{founder}}</p></label><br/>
                    <label>Contact Person:<p> &nbsp; {{contactPerson}}</p></label><br/>
                    
                   
                </div>
                <div class="col-md-8">
                    <div class="alert alert-info">
                        <h2>Mission</h2>
                        
                        <p>{{mission}}</p>
                    </div>
                     <div class="alert alert-info">
                        <h2>Vision</h2>
                        
                        <p>{{vision}}</p>
                    </div>
                     <div class="alert alert-info">
                        <h2>Bio</h2>
                        
                        <p>{{bio}}</p>
                    </div>
                    <div class="form-group col-md-8">
                        <h3>Change YOur Details</h3>
                        <br />
                        
                        <label><p>Achievements: &nbsp; {{achievements}}</p></label><br>
                        <label><p>Target Audience: &nbsp; {{targetAudience}}</p></label><br>
                        <label><p>Accreditation: &nbsp; {{accreditation}}</p></label><br>
                        <label><p>Address: &nbsp; {{address}}</p></label><br/>
                        <label><p>Registration Number: &nbsp; {{RegistrationNo}}</p></label>
                        <br>
                        <a href="{{pathFor 'updateNgoProfile'}}" class="updateNgoProfile btn btn-primary">Update Profile</a>
                    <br /><br/>
                    </div>
                </div>
            </div>
            <!-- ROW END -->


        </section>
        <!-- SECTION END -->
{{/with}}
    </div>
</template>
