<template name="updateNgoProfile">
  <h3 style="text-align:center;">Update NGO profile</h3>
            <section id="main-content" class="main-content pad-60">
            {{#autoForm collection="Ngo" id="updateNgoForm" doc=updateNgoProfileDoc type="update"}}
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="article">
                    {{> afQuickField name='companyName'}}
                    {{> afQuickField name='focus' options="allowed" noselect=true}}
                    {{> afQuickField name='yearOfEstablishment'}}
                    {{> afQuickField name='mission' rows=6}}
                    {{> afQuickField name='vision' rows=6}}
                    {{> afQuickField name='contact'}}
                    {{> afQuickField name='founder'}}
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                {{> afQuickField name='contactPerson'}}
                    {{> afQuickField name='address'}}
                    {{> afQuickField name='RegistrationNo'}}
                    {{> afQuickField name='bio' rows=6}}
                    {{> afQuickField name='achievements'}}
                    {{> afQuickField name='targetAudience'}}
                    {{> afQuickField name='accreditation'}}
                     {{> afQuickField name="picture" }}
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </div>
              </div>
            </div>
            {{/autoForm}}
            </section>
</template>
