<template name="createCompanyProfile">

 <h3 style="text-align:center;">Insert Company profile</h3>
        <section id="main-content" class="main-content pad-60">
			{{#autoForm collection="CorpOrg" id="insertCompanyForm" type="insert"}}
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-xs-8 col-md-8 col-sm-offset-2 col-md-offset-3">



					{{> afQuickField name='corpCompanyName'}}
                    {{> afQuickField name='bio' rows=6}}
                    {{> afQuickField name='countryOfOperation'}}
                    {{> afQuickField name='project' row=5}}
                    <!-- {{> afQuickField name='focus' options="allowed" noselect=true}} -->
                    {{> afQuickField name='location'}}
                    {{> afQuickField name='mission' rows=5}}
                    {{> afQuickField name='vision' rows=5}}
                    <h4>Add your company logo</h4>
                    {{> afQuickField name="picture" }}
                    <button type="submit" class="btn btn-primary">Insert</button>

						</div>
					</div>

				</div> <!--/.row-->
			 <!--/.container-->

			{{/autoForm}}
		</section>
</template>

